<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">

	<resultMap type="Reservation" id="ResListResultSet">
		<id property="res_no" column="RES_NO"/>
		<result property="res_roomNo" column="RES_ROOMNO"/>
		<result property="res_roomType" column="RES_ROOMTYPE"/>
		<result property="res_userId" column="RES_USERID"/>
		<result property="res_userName" column="USERNAME"/>
		<result property="res_userPhone" column="USERPHONE"/>
		<result property="res_breakfast" column="RES_BREAKFAST"/> 
		<result property="res_dinner" column="RES_DINNER"/>
		<result property="res_smoking" column="RES_SMOKING"/>
		<result property="res_addBed" column="RES_ADDBED"/>
		<result property="res_adult" column="RES_ADULT"/>
		<result property="res_child" column="RES_CHILD"/>
		<result property="res_checkIn" column="RES_CHECKIN"/>
		<result property="res_checkOut" column="RES_CHECKOUT"/>
		<result property="res_status" column="RES_STATUS"/>
		<result property="res_payStatus" column="RES_PAYSTATUS"/>
		<result property="res_require" column="RES_REQUIRE"/>
		<result property="res_allPay" column="RES_ALLPAY"/>
		
	</resultMap>
	
	<resultMap type ="RoomType" id="RoomTypeResultSet">
		<id property="type" column="ROOMTYPE"/>  
		<result property="capacity" column="CAPACITY"/>
		<result property="addBed" column="ADDBED"/>
		<result property="singleBed" column="SINGLEBED"/> 
		<result property="doubleBed" column="DOUBLEBED"/>
		<result property="smoking" column="SMOKING"/>
		<result property="weekDay" column="WEEKDAY"/>
		<result property="weekEnd" column="WEEKEND"/>
		<result property="startDay" column="STARTDAY"/>
		<result property="endDay" column="ENDDAY"/>
		<result property="childRate" column="CHILDRATE"/>
		<result property="changename" column="CHANGENAME"/>
		<result property="roomType2" column="ROOMTYPE_1"/>
	</resultMap>
	
	<!-- 예약 리스트 갯수 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM RESERVATION
	</select>
	
	<!-- 한 페이지에 뿌려줄 예약 리스트 -->
	<select id="selectResList" resultMap="ResListResultSet">
		<!-- SELECT *
		FROM RESERVATION
		ORDER BY RES_NO DESC -->
		SELECT *
		FROM RESERVATION R
		JOIN MEMBER M ON(R.RES_USERID=M.USERID)
		ORDER BY RES_NO DESC
	</select>
	
	<!-- 검색한 예약 리스트 갯수 -->
	<select id="getSearchResultListCount" resultType="_int">
		SELECT COUNT(*)
		FROM RESERVATION R
		JOIN MEMBER M ON(R.RES_USERID=M.USERID)
 		<if test="userName != null">
			WHERE REPLACE(USERNAME, ' ', '') LIKE '%' || #{userName} || '%'
		</if>
 		<if test="userId != null">
			WHERE RES_USERID LIKE '%' || #{userId} || '%'
		</if> 
		<if test="userPhone != null">
			WHERE USERPHONE LIKE '%' || #{userPhone} || '%'
		</if> -->
	</select>
	
	<!-- 검색어 적용 예약 리스트 -->
	<select id="selectSearchResultList" resultMap="ResListResultSet">
		SELECT *
		FROM RESERVATION R
		JOIN MEMBER M ON(R.RES_USERID=M.USERID)
 		<if test="userName != null">
		WHERE REPLACE(USERNAME, ' ', '') LIKE '%' || #{userName} || '%'
		</if> 
 		<if test="userId != null">
			WHERE RES_USERID LIKE '%' || #{userId} || '%'
		</if> 
		<if test="userPhone != null">
			WHERE USERPHONE LIKE '%' || #{userPhone} || '%'
		</if>
		<!-- 예약번호 큰거부터 작은거, (내림차) -->
		<if test="sort_no == 0">
			ORDER BY RES_NO DESC
		</if>
		<!-- 예약번호 작은거부터 큰거, (오름차) -->
		<if test="sort_no == 1">
			ORDER BY RES_NO ASC
		</if>
		<!-- 예약자이름 큰거부터 작은거, (내림차) -->
		<if test="sort_no == 2">
			ORDER BY USERNAME DESC
		</if>
		<!-- 예약자이름 작은거부터 큰거, (오름차) -->
		<if test="sort_no == 3">
			ORDER BY USERNAME ASC
		</if>
		<!-- 체크인날짜 큰거부터 작은거, (내림차) -->
		<if test="sort_no == 4">
			ORDER BY RES_CHECKIN DESC
		</if>
		<!-- 체크인날짜 작은거부터 큰거, (오름차) -->
		<if test="sort_no == 5">
			ORDER BY RES_CHECKIN ASC
		</if>		
		<!-- 체크아웃날짜 큰거부터 작은거, (내림차) -->
		<if test="sort_no == 6">
			ORDER BY RES_CHECKOUT DESC
		</if>
		<!-- 체크아웃날짜 작은거부터 큰거, (오름차) -->
		<if test="sort_no == 7">
			ORDER BY RES_CHECKOUT ASC
		</if>
	</select>
	
	
	<select id="selectResOne" resultMap="ResListResultSet" parameterType="_int">
		SELECT *
		FROM RESERVATION R		
		JOIN MEMBER M ON(R.RES_USERID=M.USERID)
		WHERE RES_NO = #{res_no}
	</select>
	
	
	<!-- 예약 내역 생성 (수정 필요)-->
	<insert id="resInsert" parameterType="Reservation">
		INSERT INTO
		RESERVATION
		VALUES(SEQ_RESNO.NEXTVAL,DEFAULT,#{res_roomType},#{res_userId},#{res_breakfast},#{res_dinner},
				#{res_smoking},#{res_addBed},#{res_adult},#{res_child},#{res_checkIn},#{res_checkOut},DEFAULT,DEFAULT,#{res_require},#{res_allPay})
		
	</insert>
	
	<select id="getResNo" parameterType="Reservation" resultType="_int">
		SELECT RES_NO
		FROM RESERVATION
		WHERE RES_USERID=#{res_userId}
			AND RES_CHECKIN=#{res_checkIn}
			AND RES_CHECKOUT=#{res_checkOut}
			AND ROWNUM =1
			ORDER BY RES_NO DESC
	</select>
	
	<!-- 날짜별 예약 정보 생성 -->
	<insert id="resRoomStatusInsert" parameterType="Reservation">
		INSERT INTO
		ROOMSTATUS
		VALUES(#{res_roomType},DEFAULT,#{res_checkIn},#{res_no})

	</insert>
	
	<!-- 예약 내역 삭제 -->
	<update id="resDelete" parameterType="_int">
		UPDATE RESERVATION
		SET RES_STATUS='예약취소'
		WHERE RES_NO=#{res_no}
	</update>
	
	<!-- 예약 내역 수정 -->
	<update id="resModify" parameterType="Reservation">
		UPDATE RESERVATION
		SET RES_ADULT=#{res_adult}, RES_CHILD=#{res_child}, RES_CHECKIN=#{res_checkIn},RES_ADDBED=#{res_addBed}, RES_CHECKOUT=#{res_checkOut}, RES_ALLPAY=#{res_allPay}
		WHERE RES_NO = #{res_no}
	</update>
	
	<!-- 날짜별 검색한 타입의 방 예약된  개수 구하기 -->
	<select id="getResRoomCount" parameterType="Reservation" resultType="_int">
		SELECT COUNT(*)
		FROM ROOMSTATUS
		WHERE RES_DATE = #{res_checkIn}
		AND ROOMTYPE = #{res_roomType}
		AND RES_NO != #{res_no}
	</select>
	
	<!-- 원하는 룸 타입별 개수 구하기 -->
	<select id="getRoomCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM ROOM
		WHERE ROOMTYPE LIKE #{string}||'%'
	</select>
	
	<select id="getSuperiorResCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM ROOMSTATUS
		WHERE RES_DATE = TO_DATE(#{date},'YYYYMMDD')
		AND ROOMTYPE LIKE 'SUPERIOR'||'%'
	</select>
	
	<select id="getDeluxeResCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM ROOMSTATUS
		WHERE RES_DATE = TO_DATE(#{date},'YYYYMMDD')
		AND ROOMTYPE LIKE 'DELUXE'||'%'
	</select>
	
	<select id="getSuiteResCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM ROOMSTATUS
		WHERE RES_DATE = TO_DATE(#{date},'YYYYMMDD')
		AND ROOMTYPE LIKE 'SUITE'||'%'
	</select>
	
	<select id="getRoomList" resultType="map">
		SELECT ROOMTYPE,COUNT(*) AS COUNT
		FROM ROOM
		GROUP BY ROOMTYPE
		ORDER BY ROOMTYPE ASC
	</select>
	
	
	
	<!-- 룸 타입에 등록된 대표사진 이름 가져오기 -->
	<select id="getRoomFileName" resultType="String">
		SELECT CHANGENAME
		FROM ATTACHMENT
		WHERE ROOMTYPE = #{res_roomType}
		AND IMGLV = 0
	</select>
	
	<!-- 예약 입금 완료 처리 -->
	<update id="payStatusCheck" parameterType="_int">
		UPDATE RESERVATION
		SET RES_PAYSTATUS='입금완료'
		WHERE RES_NO = #{res_no}
	</update>
	
	<!-- 방 배정 정보 삭제 -->
	<delete id="roomStatusDelete" parameterType="_int">
		DELETE FROM
		ROOMSTATUS
		WHERE RES_NO = #{resNo}
	</delete>
	
	<select id="selectRoomList" resultMap="RoomTypeResultSet">
		SELECT *
		FROM ROOMTYPE
		ORDER BY ROOMTYPE
	</select>
	
	<select id="getRoomType" resultMap="RoomTypeResultSet" parameterType="String">
		SELECT *
		FROM ROOMTYPE
		WHERE ROOMTYPE=#{res_roomType}
	</select>
	
	<!-- 인보이스 정보 생성 -->
	<insert id="insertInvoice" parameterType="Reservation">
	
	INSERT INTO INVOICE VALUES (SEQ_IVID.NEXTVAL,(SELECT USERNAME
    FROM MEMBER
    WHERE USERID = #{res_userId}),(SELECT USERPHONE
    FROM MEMBER
    WHERE USERID = #{res_userId}),#{res_roomType},#{res_checkIn},
    DEFAULT,#{res_adult},#{res_allPay},#{res_userId},#{res_invoice})
	
	</insert>
	
	
	<!-- 매출 정보 생성 -->
	<insert id="insertSales" parameterType="Reservation">
	
	INSERT INTO SALES
	VALUES (#{res_roomType},#{res_allPay},#{res_checkIn})
	
	</insert>
	
	
	<!-- 예약 가능한 날짜 검색
		1.선택된 날짜에서 예약되지 않은 방 정보 불러오기 -->
		
	<select id="guestSelectList" parameterType="Reservation" resultMap="RoomTypeResultSet">
		SELECT * 
		FROM (SELECT * FROM ROOMTYPE
		WHERE ROOMTYPE IN(
		SELECT A.ROOMSRT ROOMTYPE
		FROM
		(SELECT ROOMTYPE ROOMSRT, COUNT(*) ROOMSCNT FROM ROOM
		GROUP BY ROOMTYPE) A
		FULL JOIN
		(SELECT ROOMTYPE RSRT, COUNT(DISTINCT(RES_NO)) RSRN FROM ROOMSTATUS
		WHERE RES_DATE BETWEEN #{res_checkIn} AND #{res_checkOut}
		GROUP BY ROOMTYPE) B
		ON A.ROOMSRT = B.RSRT
		WHERE A.ROOMSCNT - NVL(B.RSRN,0) > 0)) R1
    	LEFT JOIN (SELECT CHANGENAME, ROOMTYPE
            FROM ATTACHMENT
            WHERE IMGLV=0) R2
    	ON R1.ROOMTYPE = R2.ROOMTYPE
	</select>
	
	
	<!-- 
	<select id="selectAttachment" parameterType="String" resultType="String">
		SELECT CHANGENAME
		FROM ATTACHMENT
		WHERE ROOMTYPE = #{type}
			AND IMGLV=0
	</select> -->
	
	<!-- 사용자 결제 후 예약정보 생성 -->
	<insert id="insertReservationGst" parameterType="Reservation">
		INSERT INTO
		RESERVATION
		VALUES(SEQ_RESNO.NEXTVAL,DEFAULT,#{res_roomType},#{res_userId},#{res_breakfast},#{res_dinner},
				#{res_smoking},#{res_addBed},#{res_adult},#{res_child},#{res_checkIn},#{res_checkOut},DEFAULT,'입금완료',#{res_require},#{res_allPay})
	</insert>
	
	<!-- 사용자 결제 후 인보이스 정보 생성 -->
	<insert id="insertInvoiceGst" parameterType="Invoice">
		INSERT INTO INVOICE VALUES (SEQ_IVID.NEXTVAL,#{userName},#{userPhone},#{rType},#{ckinDate},
	    DEFAULT,#{quantity},#{totalPrice},#{userEmail},'Y')
	</insert>
	
	<!-- 매출 정보 생성 -->
	<insert id="insertSalesGst" parameterType="Reservation">
		INSERT INTO SALES
		VALUES (#{res_roomType},#{res_allPay},#{res_checkIn})
	</insert>
	
	
</mapper>
